<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        $(document).ready(
            function() {

                // SUBMIT FORM
                $("#bookForm").submit(function(event) {
                    // Prevent the form from submitting via the browser.
                    event.preventDefault();
                    ajaxPost();
                });

                function ajaxPost() {

                    // PREPARE FORM DATA
                    var formData = {
                        bookId : $("#bookId").val(),
                        bookName : $("#bookName").val(),
                        author : $("#author").val()
                    }

                    // DO POST
                    $.ajax({
                        type : "POST",
                        contentType : "application/json",
                        url : "saveBook",
                        data : JSON.stringify(formData),
                        dataType : 'json',
                        success : function(result) {
                            if (result.status == "success") {
                                $("#postResultDiv").html(
                                    "" + result.data.bookName
                                    + "Post Successfully! <br>"
                                    + "---> Congrats !!" + "</p>");
                            } else {
                                $("#postResultDiv").html("<strong>Error</strong>");
                            }
                            console.log(result);
                        },
                        error : function(e) {
                            alert("Error!")
                            console.log("ERROR: ", e);
                        }
                    });

                }

            })
    </script>
</head>
<body>
<div id="postResultDiv" align="center"></div>
<div class="container">
    <h2>Stacked form</h2>
    <form id="bookForm">
        <div class="form-group">
            <label for="bookId">Book ID:</label> <input type="text"
                                                        class="form-control" id="bookId" placeholder="Enter Book Id"
                                                        name="bookId">
        </div>
        <div class="form-group">
            <label for="bookName">Book Name:</label> <input type="text"
                                                            class="form-control" id="bookName" placeholder="Enter Book Name"
                                                            name="bookName">
        </div>
        <div class="form-group">
            <label for="author">Author :</label> <input type="text"
                                                        class="form-control" id="author" placeholder="Enter Author name"
                                                        name="author">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label"> <input
                    class="form-check-input" type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
</div>


</body>
</html>