<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script>
        $(document).ready(
            function() {

                // SUBMIT FORM
                $("#bookForm").submit(function(event) {
                    // Prevent the form from submitting via the browser.
                    event.preventDefault();
                    ajaxPost();
                });

                function ajaxPost() {

                    // PREPARE FORM DATA
                    var formData = {
                        bookId : $("#createDay").val(),
                        bookName : $("#bookName").val(),
                        author : $("#author").val()
                    };

                    // DO POST
                    $.ajax({
                        type : "POST",
                        contentType : "application/json",
                        url : "saveBook",
                        data : JSON.stringify(formData),
                        dataType : 'json',
                        success : function(result) {
                            if (result.status == "success") {
                                $("#postResultDiv").html(
                                    "" + result.data.bookName
                                    + "Post Successfully! <br>"
                                    + "---> Congrats !!" + "</p>");
                            } else {
                                $("#postResultDiv").html("<strong>Error</strong>");
                            }
                            console.log(result);
                        },
                        error : function(e) {
                            alert("Error!")
                            console.log("ERROR: ", e);
                        }
                    });

                }

            })
    </script>
</head>
<body>
<div id="postResultDiv" align="center"></div>
<div class="container">
    <h2>Create New Bill</h2>

    <form id="bookForm">
        <div class="form-group">
            <label for="createDay">Create Day:</label> <input type="text"
                                                        class="form-control" id="createDay" placeholder="Enter CreateDay"
                                                        name="createDay">
        </div>
        <div class="form-group">
            <label for="billType">Bill Type:</label> <input type="text"
                                                            class="form-control" id="billType" placeholder="Enter BillType"
                                                            name="billType">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label> <input type="text"
                                                        class="form-control" id="quantity" placeholder="Enter Quantity"
                                                        name="quantity">
        </div>
        <div class="form-group">
            <label for="goodsName">Goods Name:</label> <input type="text"
                                                           class="form-control" id="goodsName" placeholder="Goods Name"
                                                           name="goodsName">
        </div>
        <div class="form-group">
            <label for="useName">UseName:</label> <input type="text"
                                                           class="form-control" id="useName" placeholder="Enter UseName"
                                                           name="useName">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label"> <input
                    class="form-check-input" type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
</div>


</body>
</html>